[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flake8 = "*"
coverage = "*"
isort = "*"
faker = "*"
mypy = "*"
pylint = "*"
parameterized = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
cython = "*"
numpy = "*"
aiohttp = "*"
aiounittest = "*"
asynctest = "*"
memory-profiler = "*"

[dev-packages]

[requires]
python_version = "3.8"
